<h2><%= "Question #{@step} of #{@total_questions}" %></h2>

<%= render :partial => "version_1", :locals => {:answer => @answer, :step => @step} %>

<% if @question.answers.size > 0 %>
<h2>Other Member's Answers</h2>

<% @question.answers.each do |answer| %>
    <% if answer.user %>
  <div class="rnd2_content" style="border-bottom:1px dotted gray;padding:3px">
     <table border="0" cellpadding="5">
           <tr>
             <td>
                 <%= image_tag answer.user.avatar.url(:medium) %>
             </td>
             <td>
               <%= answer.answer %><br>
               <div style="color:gray;font-style:italic;margin-top:3px;"><%= "#{answer.user.name} #{answer.user.disease} #{answer.user.relation_to_disease} since #{ Date::MONTHNAMES[answer.user.diagnosis_month]} #{answer.user.diagnosis_year}" %></div>
             </td>
           </tr>
         </table>
   </div>
   <% end %>
<%  end %>
<% end %>