- form_tag filter_path do 
  %table(width="300")
    %tr
      %td
        %b Filter:
      %td
        = check_box_tag "filter[check]", "1", cb_check(:check)
        = label_tag "filter_check", "Check"
      %td
        = check_box_tag "filter[credit]", "1", cb_check(:credit)
        = label_tag "filter_credit", "Credit Card"
      %td
        = check_box_tag "filter[cash]", "1", cb_check(:cash)
        = label_tag "filter_cash", "Cash"
      %td
        = submit_tag "Filter"

%table.fancy
  %tr
    %th
      Uniter
    %th
      First Name
    %th
      Last Name
    %th
      Amount
    %th
      Type
    %th
      Message
    %th
      Donated On
    %th(colspan=2)
  - @donations.each do |d|
    %tr
      %td
        = d.unite.name
      %td
        = d.first_name
      %td
        = d.last_name
      %td
        = "$#{d.amount}"
      %td
        = d.donation_type
      %td
        = d.message
      %td
        = d.donated_at.strftime('%m/%d/%Y')
      %td
        = link_to 'Edit', edit_unite_donation_path(d)
      %td
        = link_to 'Destroy', d, :confirm => 'Are you sure?', :method => :delete
      

