<h1>Editing press</h1>

<% form_for(@press) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </p>
  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.label :story_date_at %><br />
    <%= f.date_select :story_date_at %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @press %> |
<%= link_to 'Back', presses_path %>