#div(style="text-align:right;margin:15px")
  = image_tag("http://uniteforthecure.files.wordpress.com/2009/08/cropped-untitled-1.jpg", :border => "0", :width => "300")
%h1
  = "#{number_to_currency(@total)} of $100,000 (#{number_to_percentage(@total/100000*100)}) Raised To Date!"
  
%table.fancy(width="750")
  %tr
    %th
      Family
    %th
      Amount Raised To Date
    %th
      Goal
    %th
      Percentage
  - @donations.each do |unite, amount|
    %tr
      %td
        = link_to unite.name, uftc_path(unite.id)
      %td
        = number_to_currency(amount)
      %td
        $5,000
      %td 
        = number_to_percentage(amount/5000*100)