#chase
  %table
    %tr
      %td
        #video
          %object{ :height => "344", :width => "425" }
            %param{ :name => "allowfullscreen", :value => "true" }
            %param{ :name => "allowscriptaccess", :value => "always" }
            %param{ :name => "movie", :value => "http://vimeo.com/moogaloop.swf?clip_id=8499792&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" }
            %embed{ :src => "http://vimeo.com/moogaloop.swf?clip_id=8499792;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1&autoplay=1", :allowfullscreen => "true", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :height => "344", :width => "425" }

      %td
        #miracle
          %h1
            BE PART OF A MIRACLE!
          %p
            SMA - Spinal Muscular Atrophy - kills more babies than any other genetic disease. SMA is currently a death sentence. But, there is enormous HOPE! Research is on the brink of a cure, but in desperate need of funding.
          %p
            Our daughter, Gwendolyn, and thousands of other children are dying of SMA. We are fighting to end this disease and $1 Million will have an immediate and direct impact on making a cure attainable -- to save Gwendolyn, to save all children battling SMA, and to ensure no future babies are stolen by this cruel disease.
          %p
            $1 Million will help cure this disease forever and your simple, FREE vote through Facebook moves us one step closer to that miracle. Vote today and be part of it!
          
          %p
            %center
              = link_to "Click to vote for us on Facebook", 'http://apps.facebook.com/chasecommunitygiving/charities/710566'

  #fade
    %table.call
      %tr
        %td.lines
          %hr
        %td
          .action
            %center
              %button.facebook
                = image_tag("img_icons/icon_fb.png", :border => "0")
                Click To Vote To Cure SMA
        %td.lines
          %hr
              
    %table.sub
      %tr
        %td
          .rnd_box.what_is_sma
            %h2
              = image_tag("img_icons/icon_butterfly.gif", :border => "0")
              WHAT IS SMA?
            %p
              SMA is a degenerative, terminal genetic disease. 1 in 40 people unknowingly carries the SMA gene. 
            %p
              %b
                Babies with SMA are born perfectly healthy.
            %p
              Their mind is never impacted. Yet, within months of an SMA diagnosis their bodies begin to fail them.
            %p
              %b
                They become completely paralyzed and require machines to help them eat, cough, swallow, and breathe.
            %p
              These vibrant, intelligent children will slowly become “locked-in” and over 90% die before their 2nd birthday; many never see their 1st.
            %p
              = link_to "Click here to learn more about SMA", page_about_sma_path

        %td
          .rnd_box.humbled
            %h2
              = image_tag("img_icons/icon_butterfly.gif", :border => "0")
              WE ARE HUMBLED!
            %p.chase-logo
              = image_tag("img_misc/chase_community.png", :border => "0")
            %p
              In December 2009, GSF was voted to one of the top 100 nonprofits of more than 500,000 organizations in the $5M Chase Community Giving campaign on Facebook. This is incredible and another example of the indelible impact children with SMA leave on the world. The $25,000 grant from this first round is already in the lab and pushing us closer to a cure. With your support rallying beside the inspiring SMA children and the vibrant SMA community, we can accomplish anything as one, united, motivated voice. Together we will cure SMA.

            %p
              %b Thank you!
            
        %td
          .rnd_box.our_big_idea
            %h2
              = image_tag("img_icons/icon_butterfly.gif", :border => "0")
              OUR BIG IDEA
            %p
              Be part of a miracle! Help cure SMA, the leading genetic killer of babies. $1 Million will help cure SMA and save the beautiful babies it kills.
            %p
              We are giving 100% of the $1 Million awarded by Chase directly to SMA awareness and cure focused research programs. 
            %p
              Who better to decide where this critical funding goes than those directly impacted by this cruel disease. We will select the most promising SMA projects in need of funding and empower the SMA community to decide where the $1 Million is distributed. Be part of a miracle! Vote for the Gwendolyn Strong Foundation in the $5M Chase Community Giving campaign on Facebook.

            %p
              = link_to 'Click here to learn more about our “Big Idea”', '#'
            
            
:javascript
  $(function(){
    $('#fade').hide().animate({opacity:1},3000).fadeIn(1000); 
    $('button.facebook').click(function(){
      location.href = 'http://apps.facebook.com/chasecommunitygiving/charities/710566';
    })
  })