#chase
  %table
    %tr
      %td
        #video
          %object{ :height => "344", :width => "425" }
            %param{ :name => "movie", :value => "http://www.youtube.com/v/U_pL0kMvlcg&hl=en_US&fs=1&color1=0x3a3a3a&color2=0x999999" }
            %param{ :name => "allowFullScreen", :value => "true" }
            %param{ :name => "allowscriptaccess", :value => "always" }
            %embed{ :src => "http://www.youtube.com/v/U_pL0kMvlcg&hl=en_US&fs=1&color1=0x3a3a3a&color2=0x999999", :allowfullscreen => "true", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :height => "344", :width => "425" }

      %td
        #miracle
          %h1
            BE PART OF A MIRACLE!
          %p
            Spinal Muscular Atrophy - SMA - kills more babies than any other genetic disease. SMA is currently a death sentence. But, research is mature and there is hope!
          %p
            Bill and Victoria Strong are fighting alongside their daughter, Gwendolyn, and other SMA parents to end this disease. They are giving 100% of the Chase Community Giving grant to SMA programs focused on accelerating that cure; to save Gwendolyn, all SMA children, and ensure no more babies are stolen by this cruel disease.
          %p
            $1 Million will help cure this disease forever and your simple, free vote through Facebook moves us one step closer to that miracle. Vote today and be part of it!
          
          %p
            %center
              = link_to "Click to vote for us on Facebook", '#'

  #fade
    %table.call
      %tr
        %td.lines
          %hr
        %td
          .action
            %center
              %button
                = image_tag("img_icons/icon_fb.png", :border => "0")
                Click To Vote To Cure SMA
        %td.lines
          %hr
              
    %table.sub
      %tr
        %td
          .rnd_box.what_is_sma
            %h2
              = image_tag("img_icons/icon_butterfly.gif", :border => "0")
              WHAT IS SMA?
            %p
              SMA is a degenerative, terminal genetic disease.
            %p
              %b
                Babies with SMA are born perfectly healthy.
            %p
              Their mind is never impacted. Yet, within months of an SMA diagnosis their bodies begin to fail them.
            %p
              %b
                They become completely paralyzed and require machines to help them eat, cough, swallow, and breathe.
            %p
              These vibrant, intelligent children will slowly become “locked-in” and over 90% die before their 2nd birthday; many never see their 1st.
            %p
              = link_to "Click here to learn more about SMA", page_about_sma_path

        %td
          .rnd_box.humbled
            %h2
              = image_tag("img_icons/icon_butterfly.gif", :border => "0")
              WE ARE HUMBLED!
            %p.chase-logo
              = image_tag("img_misc/chase_community.png", :border => "0")
            %p
              In December 2009, our supporters voted us to one of the top 100 nonprofits of more than 500,000 organizations in the $5M Chase Community Giving campaign on Facebook. This is incredible and another humbling example of how vibrant the SMA community is and how collectively we can accomplish anything as one, united, motivated voice. Together we will cure SMA.
            %p
              %b Thank you!
            
        %td
          .rnd_box.our_big_idea
            %h2
              = image_tag("img_icons/icon_butterfly.gif", :border => "0")
              OUR BIG IDEA
            %p
              Be part of a miracle! Help cure SMA, the leading genetic killer of babies. $1 Million has the real potential to cure SMA and save the beautiful babies it kills.
            %p
              We are giving 100% of the $1 Million awarded from Chase directly to SMA awareness and cure focused research programs. Who better to decide where this critical funding goes than those directly impacted by this cruel disease?
            %p
              We will select the most promising SMA projects in need of funding and empower the SMA community to decide where the $1 Million is distributed. Be part of a miracle! Vote for the Gwendolyn Strong Foundation in the $5M Chase Community Giving campaign on Facebook.            
            %p
              = link_to 'Click here to learn more about our “Big Idea”', '#'
            
            
:javascript
  $(function(){
    $('#fade').hide().animate({opacity:1},3000).fadeIn(1000); 
  })