<% content_for :head do  %>
  <%= javascript_include_tag "tools.scrollable-1.0.3.min" %>
  <%= stylesheet_link_tag "scrollable-vertical" %>
  <style type="text/css">
    #progress {height:44px;margin-bottom:11px;margin-top:20px}
    .pad {margin:0pt auto;width:300px;}
    #progress h3 {float:left;height:22px;margin:6px 6px 0pt 0pt;width:100%;}
    .hide {float:left;margin-left:-999em;}
    #progressBar {background:transparent url(/images/meter/progressBg.gif) repeat-x scroll left top;border:1px solid #000000;float:left;height:16px;margin-top:7px;width:100%;}
    #progressBar #mercury {width:0%;}
    #progressBar #mercury {background:transparent url(/images/meter/mercuryBg.gif) repeat-x scroll left top;border-right:1px solid #AC7B00;height:16px;}
    #progressBar #mercury #raised {display:none;float:right;font-size:10px;height:16px;line-height:16px;padding:0pt 5px 0pt 0pt;text-align:right;width:95px}
    #progress #key div {float:left;font-size:10px;width:33%}
    #progress #left {text-align:left;}
    #progress #center {text-align:center;}
    #progress #right {text-align:right;}
    #progressBar #mercury .beyond {background:transparent url(/images/meter/beyond.gif) no-repeat scroll right top;font-size:11px;font-weight:bold;}

  </style>
<% end %>


<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="569" class="incontent">
      <table width="557" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><div id="rnd2_container"> <b class="rnd2_top"><b class="rnd2_b1"></b><b class="rnd2_b2"></b><b class="rnd2_b3"></b><b class="rnd2_b4"></b></b>
              <div class="rnd2_content" style="position:relative">
                <div style="z-index:0;">
                  <%= image_tag("posters/sponsor_a_mile.jpg", :width => "500", :border => "0") %>
                </div>
                <div style="position:absolute;left:500px;top:0px">
                  <%= image_tag("posters/sponsor_button.gif", :width => "200", :border => "0") %>
                </div>
              </div>
          <b class="rnd2_bottom"><b class="rnd2_b4"></b><b class="rnd2_b3"></b><b class="rnd2_b2"></b><b class="rnd2_b1"></b></b> </div></td>
        </tr>
      </table>
    </td>
    <td width="170" class="inrg">
      <div style="margin-top:180px;text-align:center">
        <div id="rnd_container">
          <b class="rnd_top"><b class="rnd_b1"></b><b class="rnd_b2"></b><b class="rnd_b3"></b><b class="rnd_b4"></b></b>
          <div class="rnd_content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <div style="margin:0px">
                    Join our drive to END SMA!<br>
                    $10 per mile.<br>
                    Sponsor a mile (or several)<br>
                    to help find a cure!<br>
                  </div>
                </td>
              </tr>
              <tr >
                <td style="padding:15px 0px" id="google_checkout_line">
                  <script type="text/javascript">
                    function validateAmount(amount){
                      if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
                        return true;
                      }else{
                        alert('You must enter a valid donation.');
                        amount.focus();
                        return false;
                      }
                    }
                  </script>
                  <form action="https://checkout.google.com/cws/v2/Donations/118024557318206/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)">
                    <input name="item_name_1" type="hidden" value="Gwendolyn Strong Foundation - Sponsor-A-Mile"/>
                    <input name="item_description_1" type="hidden" value="Sponsor-A-Mile To End SMA! 5,000 miles. &#x24;10 per mile. Support a cure for the #1 genetic killer of young children, SMA."/>
                    <input name="item_quantity_1" type="hidden" value="1"/>
                    <input name="item_currency_1" type="hidden" value="USD"/>
                    <input name="item_is_modifiable_1" type="hidden" value="true"/>
                    <input name="item_min_price_1" type="hidden" value="0.01"/>
                    <input name="item_max_price_1" type="hidden" value="25000.0"/>
                    <input name="_charset_" type="hidden" value="utf-8"/>
                    <table cellpadding="5" cellspacing="0" width="1%">
                      <tr>
                        <td align="right" nowrap="nowrap" width="1%">&#x24;
                          <input id="item_price_1" name="item_price_1" onfocus="this.style.color='black'; this.value='';" size="11" style="color:grey;" type="text" value="Enter Amount"/>
                        </td>
                        <td align="left" width="1%">
                          <input alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=118024557318206&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
                        </td>
                      </tr>
                    </table>
                  </form>
                </td>
              </tr>
              <tr id="xline">
                <td>
                  <div style="font-style:italic;font-size:90%">
                    Our application for tax exempt 501(c)(3) status is in process. While our application is pending, we cannot assure donors that contributions will be tax deductible.
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <b class="rnd_bottom"><b class="rnd_b4"></b><b class="rnd_b3"></b><b class="rnd_b2"></b><b class="rnd_b1"></b></b>
        </div>
        <div style="margin-top:20px">
          <!-- AddThis Button BEGIN -->
          <a href="http://www.addthis.com/bookmark.php?v=250" onmouseover="return addthis_open(this, '', 'http://www.gwendolynstrongfoundation.org/get_involved', 'Sponsor-A-Mile To End SMA')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=strongbill"></script>
          <!-- AddThis Button END -->
        </div>

        <% if(@donations.size > 3) %>
          <!-- METER -->
          <div id="progress">
            <div class="pad">
              <h3>Thank You To Our <%= @donations.size %> Supporters</h3>
              <div id="progressBar">
                <div id="mercury"><span id="raised"><%= comma_numbers(@raised.to_i)%></span></div>
              </div>
              <div id="seasonal"></div><br><br>
              <div id="key">
                <div id="left">$0</div>
                <div id="center">$25,000</div>
                <div id="right">$50,000</div>
              </div>
            </div>
          </div>

          <!-- root element for scrollable -->
          <br>
          <center>
            <div class="scrollable" style="height:250px">
              <!-- root element for the items -->
              <div class="items">
                <% @donations.each do |d| %>
                  <div class="<%= 'highlight' if d.highlight %>">
                    <%= d.name.titleize %><br>
                    <span style="font-size:10pt">
                      <%= d.location %>
                    </span>
                  </div>
                <% end %>
                <div></div>
              </div>
            </div>
          </center>
        <% end %>

      </div>
    </td>
  </tr>
</table>

<script type="text/javascript">
  $(document).ready(function(){ // on document load
    // Using multiple unit types within one animation.
    $("#mercury").animate({width: "<%= "#{@percent}%" %>"}, 10,'' ,function(){
      $(this).find("#raised").show()
    }
  ); // animate a div

    $("div.scrollable").scrollable({
      vertical:true,
      size: 4,
      interval: 2000,
      loop: true,
      speed: 600,
      onBeforeSeek: function() {
        this.getItems().fadeTo(300, 0.2);
      },
      onSeek: function() {
        this.getItems().fadeTo(300, 1);
      }
    });
  });
</script>


