%h1
  Newly Diagnosed
%p
  If your child has been newly diagnosed with SMA, please read the below information. You have care options. Nothing is guaranteed, but research shows the earlier intervention is made, the better chance of lengthening lifespan of the diagnosed.
%h2
  Recommended Reading
%ul
  %li
    = link_to "Consensus Statement for Standard of Care for SMA - Family Guide ", "http://files.me.com/strongbill/alid1s"
  %li
    = link_to "Consensus Statement for Standard of Care for SMA - Full Guide ", "http://files.me.com/strongbill/v25mqy"
    \/li>
  %li
    = link_to "Laparoscopic Nissen Fundoplication During Gastrostomy Tube Placement and Noninvasive Ventilation May Improve Survival in Type I and Severe Type II Spinal Muscular Atrophy ", "http://files.me.com/strongbill/as548o"
  %li
    = link_to "SMA Type 1 Caring Choices (FSMA booklet) ", "http://files.me.com/strongbill/1lqwrm"
  %li
    = link_to "Respiratory Care for Children with SMA (FSMA booklet) ", "http://files.me.com/strongbill/qvmmg7"
  %li
    = link_to "Respiratory Care Information ", "http://www.fsma.org/FSMACommunity/MedicalIssues/Respiratory"
  %li
    = link_to "Respiratory Care Video ", "http://medicine.utah.edu/neurology/research/swoboda/videos/SMA_Respiratory.htm"
%h2
  SMA Specialists
%p
  One of the most important decisions we made was to seek out SMA experts to help us in our decision making process. There are only a handful of doctors who specialize in children with SMA in the United States, but their knowledge and experience can change the outcome of your child’s life. Do not simply make an appointment for two or three months later – call or email doctors directly, immediately. If you cannot travel to see them in person, many are willing to work with your local hospital. The nuances of treating children with SMA are unique and often contrary to what is standard hospital protocol. It is important that you speak with them, be honest about what symptoms your child is presenting, and ask questions.
%ul
  %li
    = link_to "SMA Specialists Contact Information", "http://www.fightsma.org/index.php?spinal-muscular-atrophy-doctors"
  %li
    = link_to "Muscular Dystrophy Association (MDA) Clinics", "http://www.mda.org/clinics/"
    
%h2
  SMA Support:
%ul
  %li
    = link_to "SMASpace ", "http://www.smaspace.ning.com"
  %li
    = link_to "Fight SMA ", "http://www.fightsma.org"
  %li
    = link_to "Families of SMA ", "http://www.fsma.org"
  %li
    = link_to "SMA Support ", "http://www.smasupport.com"
  %li
    = link_to "SMA Foundation ", "http://smafoundation.org"
  %li
    = link_to "SMA Medical Supply ", "http://www.smasupply.com/welcome.html"
