<h1>Listing donations</h1>

<table border="1" cellpadding="4">
  <tr>
    <th>Name</th>
    <th>campaign</th>
    <th>Location</th>
    <th>Donation date</th>
    <th>Amount</th>
  </tr>

<% @donations.each do |donation| %>
  <tr style="background-color:<%= donation.highlight ? 'yellow' : 'white' %>">
    <td><%=h donation.name %></td>
    <td><%=h donation.campaign %></td>
    <td><%=h donation.location %></td>
    <td><%=h donation.donation_date %></td>
    <td><%=h donation.amount %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New donation', new_donation_path %>