%table{ :cellspacing => "0", :border => "0", :width => "100%", :cellpadding => "0" }
  %tr
    %td.inlf{ :width => "178" }
      %table{ :cellspacing => "0", :border => "0", :width => "100%", :cellpadding => "0" }
        %tr
          = side_nav("What We Do","what_we_do")
        %tr
          = side_nav("Research","research")
        %tr
          = side_nav("Awareness","awareness")
        %tr
          = side_nav("Support","support")
    %td.incontent{ :width => "569" }
      %table{ :cellspacing => "0", :border => "0", :align => "center", :width => "557", :cellpadding => "0" }
        %tr
          %td.headerpic
            %img{ :src => "images/img_pics/pic_about.jpg", :height => "147", :alt => "", :width => "557" }
        %tr
          %td
            #rnd2_container
              %b.rnd2_top
                %b.rnd2_b1
                %b.rnd2_b2
                %b.rnd2_b3
                %b.rnd2_b4
              .rnd2_content
                = yield
              %b.rnd2_bottom
                %b.rnd2_b4
                %b.rnd2_b3
                %b.rnd2_b2
                %b.rnd2_b1
    %td.inrg{ :width => "170" }
      %table{ :cellspacing => "0", :border => "0", :width => "173", :cellpadding => "0" }
        %tr
          %td.sidepic
            %img{ :src => "images/img_pics/pic_about_side.jpg", :height => "255", :alt => "", :width => "170" }
        %tr
          %td
            = link_to image_tag("img_buttons/btn_donatenow.jpg", :border => "0", :alt => "Show your support - Donate Now!"), 'https://co.clickandpledge.com/?wid=37247&trk=gsf'
