<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="178" class="inlf">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <%= side_nav("What We Do","what_we_do") %>
        </tr>
        <tr>
          <%= side_nav("Research","research") %>
        </tr>
        <tr>
          <%= side_nav("Awareness","awareness") %>
        </tr>
        <tr>
          <%= side_nav("Support","support") %>
        </tr>
      </table>
    </td>
    <td width="569" class="incontent"><table width="557" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td class="headerpic"><img src="images/img_pics/pic_about.jpg" alt="" width="557" height="147" /></td>
        </tr>
        <tr>
          <td><div id="rnd2_container"> <b class="rnd2_top"><b class="rnd2_b1"></b><b class="rnd2_b2"></b><b class="rnd2_b3"></b><b class="rnd2_b4"></b></b>
              <div class="rnd2_content">
                <%= yield %>
              </div>
          <b class="rnd2_bottom"><b class="rnd2_b4"></b><b class="rnd2_b3"></b><b class="rnd2_b2"></b><b class="rnd2_b1"></b></b> </div></td>
        </tr>
    </table></td>
    <td width="170" class="inrg"><table width="173" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="sidepic"><img src="images/img_pics/pic_about_side.jpg" alt="" width="170" height="255" /></td>
        </tr>
        <tr>
          <td>
            <%= link_to image_tag("img_buttons/btn_donatenow.jpg", :border => "0", :alt => "Show your support - Donate Now!"), page_donation_path %>
          </td>
        </tr>
    </table></td>
  </tr>
</table>


