<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>The Gwendolyn Strong Foundation - <%= @meta_subtitle %></title>
    <meta name="keywords" content="<%= @meta_keywords %>" />
    <meta name="description" content="<%= @meta_description %>" />
    <%= stylesheet_link_tag 'styles', 'jquery-ui-1.7.1.custom' %>
    <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.7.1.custom.mirn', 'application', params[:controller] %>
    <%=  yield :head %>
  </head>

  <body>
    <div id="container">
      <table width="917" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="32%" rowspan="2">
                        <%= link_to image_tag("logo_TGSF.gif", :alt => "The Gwendolyn Strong Foundation"), root_path %>
                      </td>
                      <td width="68%" height="40" class="header" valign="top">
                        <%= link_to image_tag("img_icons/icon_home.gif"), root_path %>
                        <%= link_to "Home", root_path %> |
                        <%= link_to "Contact Us", page_contact_us_path %>
                      </td>
                    </tr>
                    <tr>
                      <td valign="bottom" align="right" class="" style="padding-top:20px">
                        <h1>Admin System</h1>
                      </td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td class="main">
                  <div id="flash">
                    <%= render_flash_messages  %>
                  </div>

                  <%= render :partial=>"layouts/#{controller.sub_layout}" %>

                </td>
              </tr>
          </table></td>
        </tr>
      </table>
    </div>
    <div id="footer">&copy; 2009 Gwendolyn Strong Foundation. All Rights Reserved.  |  <a href="#">Terms of Use</a>
      <div style="margin:10px">
        <%= link_to "Design by Create Method", "http://www.createmethod.com", :target => "_blank" %>
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-8641341-1");
        pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
</html>
