<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>The Gwendolyn Strong Foundation</title>
    <%= stylesheet_link_tag 'styles', 'jquery-ui-1.7.1.custom' %>
    <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.7.1.custom.mirn', 'application', params[:controller] %>
    <%=  yield :head %>
    <script type="text/javascript">
      $(function() {
        var keepImage;
        $('.rollover').hover(function() {
          var currentImg = $(this).find('img');
          keepImage = currentImg.attr('src').indexOf('_down')>0
          if(!keepImage) {
            log('over')
            var hoverImg = currentImg.attr('src').replace(/.gif/,'_down.gif');
            currentImg.attr('src', hoverImg);
            currentImg.attr('hover', currentImg.attr('src'));
          }
        }, function() {
          if(!keepImage) {
            var currentImg = $(this).find('img');
            var hoverImg = currentImg.attr('src').replace(/_down/,'');
            currentImg.attr('src', hoverImg);
            currentImg.attr('hover', currentImg.attr('src'));
          }
        });
      });
    </script>
  </head>

  <body>
    <div id="container">
      <table width="917" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="32%" rowspan="2">
                        <%= link_to image_tag("logo_TGSF.gif", :alt => "The Gwendolyn Strong Foundation"), root_path %>
                        </td>
                      <td width="68%" height="40" class="header" valign="top">
                        <%= link_to image_tag("img_icons/icon_home.gif"), root_path %>
                          <%= link_to "Home", root_path %> |
                          <%= link_to "Contact Us", page_contact_us_path %>
                        </td>
                    </tr>
                    <tr>
                      <td valign="bottom" align="right" class="" style="padding-top:20px">
                        <%= link_to image_tag("img_pics/pic_gallery_strip.jpg"), "http://s654.photobucket.com/albums/uu269/gwendolynstrong/GSF%20Website%20Gallery/", :target => "_blank" %>
                        <!--
                      <table width="602" border="0" align="right" cellpadding="0" cellspacing="0">
                          <tr>
                            <td><%= link_to image_tag_rollover("our_story"), page_our_story_path, :class => "rollover"    %></td>
                            <td><%= link_to image_tag_rollover("what_we_do"), page_our_story_path, :class => "rollover"    %></td>
                            <td><%= link_to image_tag("img_nav/get_involved.gif"), page_our_story_path, :class => "rollover"    %></td>
                            <td><%= link_to image_tag("img_nav/donate.gif"), page_donation_path, :class => "rollover"    %></td>
                            <td><%= link_to image_tag("img_nav/press.gif"), page_donation_path, :class => "rollover"    %></td>
                          </tr>
                      </table>-->
                      </td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td class="main">
                  <div id="flash">
                    <%= render_flash_messages  %>
                  </div>


                  <%= yield %>
                </td>
              </tr>
          </table></td>
        </tr>
      </table>
    </div>
    <div id="footer">&copy; 2009 The Gwendolyn Strong Foundation. All Rights Reserved.  |  <a href="#">Terms of Use</a>
    <div style="margin:10px">
      <%= link_to "Design by Create Method", "http://www.createmethod.com", :target => "_blank" %>
    </div>
    </div>
  </body>
</html>
