!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %title
      EndSMA.org - Tweet For A Cure
      = @meta_subtitle
    %meta{ :name => "keywords", :content => @meta_keywords }
    %meta{ :name => "description", :content => @meta_description }
    = javascript_include_tag 'jquery.min', 'jquery.corners.min', 'jquery.livequery','flash', 'common_utils', 'application', params[:controller]
    = stylesheet_link_tag 'dynamic_reports'
    = stylesheet_link_tag 'compiled/twitter.css', :media => 'screen, projection'
    = yield :head
  %body
    #container
      #logo
        = link_to image_tag("/images/twitter/tweet_title.png", :border => "0"), "/twitter"
        
      #flash
        = render_flash_messages
    
      = yield
      
    #footer
      \&copy; 2009 EndSMA.org. All Rights Reserved.
      %p
        %a{ :href => "#" }
          Terms of Use
      %div{ :style => "margin:10px" }
        = link_to "Design by Create Method", "http://www.createmethod.com", :target => "_blank"
        
        
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-8641341-1");
      pageTracker._trackPageview();
      } catch(err) {}
